<!DOCTYPE html>
<html>
  <head>
    <title>market_balance</title>
  </head>
  <body>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <div class="container">
      <h2><a href="/">List of Selling</a> | <a href="/market_new_seller">New_Sale</a> | <a href="/balance">Balance</a> </h2>
      Current Balance<br>
      <table  class="pure-table pure-table-horizontal">
        <thead>
        <tr>
          <th>Owner</th>
          <th>Address</th>
          <th>Valoper</th>
          <th>Stake</th>
          <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Seller</td>
          <td>{{balance_data.seller_address[:12]}}</td>
          <td>{{balance_data.valoper_address[:12]}}</td>
          <td>{{balance_data.seller_stake}}</td>
          <td>{{balance_data.seller_balance}}</td>
        </tr>
        <tr>
          <td>Buyer</td>
          <td>{{balance_data.buyer_address[:12]}}</td>
          <td>{{balance_data.valoper_address[:12]}}</td>
          <td>{{balance_data.buyer_stake}}</td>
          <td>{{balance_data.buyer_balance}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
